<section id="calendar-view">
    <section id="gridView">
        <ul id="day-grid">
            <li id="hoursView">
                <ul>
                    <li class="hour" data-timestamp="10001">1</li>
                    <li class="hour" data-timestamp="10002">2</li>
                    <li class="hour" data-timestamp="10003">3</li>
                    <li class="hour" data-timestamp="10004">4</li>
                    <li class="hour" data-timestamp="10005">5</li>
                    <li class="hour" data-timestamp="10006">6</li>
                    <li class="hour" data-timestamp="10007">7</li>
                    <li class="hour" data-timestamp="10008">8</li>
                    <li class="hour" data-timestamp="10009">9</li>
                    <li class="hour" data-timestamp="100010">10</li>
                    <li class="hour" data-timestamp="100011">11</li>
                    <li class="hour" data-timestamp="100012">12</li>
                    <li class="hour" data-timestamp="100013">13</li>
                    <li class="hour" data-timestamp="100014">14</li>
                    <li class="hour" data-timestamp="100015">15</li>
                    <li class="hour" data-timestamp="100016">16</li>
                    <li class="hour" data-timestamp="100017">17</li>
                    <li class="hour" data-timestamp="100018">18</li>
                    <li class="hour" data-timestamp="100019">19</li>
                    <li class="hour" data-timestamp="100020">20</li>
                    <li class="hour" data-timestamp="100021">21</li>
                    <li class="hour" data-timestamp="100022">22</li>
                    <li class="hour" data-timestamp="100023">23</li>
                    <li class="hour" data-timestamp="100024">24</li>
                </ul>
            </li>
            <li class="day">
                <ul>
                    <li class="hour" data-timestamp="10001">1</li>
                    <li class="hour" data-timestamp="10002">2</li>
                    <li class="hour" data-timestamp="10003">3</li>
                    <li class="hour" data-timestamp="10004">4</li>
                    <li class="hour" data-timestamp="10005">5</li>
                    <li class="hour" data-timestamp="10006">6</li>
                    <li class="hour" data-timestamp="10007">7</li>
                    <li class="hour" data-timestamp="10008">8</li>
                    <li class="hour" data-timestamp="10009">9</li>
                    <li class="hour" data-timestamp="100010">10</li>
                    <li class="hour" data-timestamp="100011">11</li>
                    <li class="hour" data-timestamp="100012">12</li>
                    <li class="hour" data-timestamp="100013">13</li>
                    <li class="hour" data-timestamp="100014">14</li>
                    <li class="hour" data-timestamp="100015">15</li>
                    <li class="hour" data-timestamp="100016">16</li>
                    <li class="hour" data-timestamp="100017">17</li>
                    <li class="hour" data-timestamp="100018">18</li>
                    <li class="hour" data-timestamp="100019">19</li>
                    <li class="hour" data-timestamp="100020">20</li>
                    <li class="hour" data-timestamp="100021">21</li>
                    <li class="hour" data-timestamp="100022">22</li>
                    <li class="hour" data-timestamp="100023">23</li>
                    <li class="hour" data-timestamp="100024">24</li>
                </ul>
            </li>
            <li class="day">
                <ul>
                    <li class="hour" data-timestamp="10001">1</li>
                    <li class="hour" data-timestamp="10002">2</li>
                    <li class="hour" data-timestamp="10003">3</li>
                    <li class="hour" data-timestamp="10004">4</li>
                    <li class="hour" data-timestamp="10005">5</li>
                    <li class="hour" data-timestamp="10006">6</li>
                    <li class="hour" data-timestamp="10007">7</li>
                    <li class="hour" data-timestamp="10008">8</li>
                    <li class="hour" data-timestamp="10009">9</li>
                    <li class="hour" data-timestamp="100010">10</li>
                    <li class="hour" data-timestamp="100011">11</li>
                    <li class="hour" data-timestamp="100012">12</li>
                    <li class="hour" data-timestamp="100013">13</li>
                    <li class="hour" data-timestamp="100014">14</li>
                    <li class="hour" data-timestamp="100015">15</li>
                    <li class="hour" data-timestamp="100016">16</li>
                    <li class="hour" data-timestamp="100017">17</li>
                    <li class="hour" data-timestamp="100018">18</li>
                    <li class="hour" data-timestamp="100019">19</li>
                    <li class="hour" data-timestamp="100020">20</li>
                    <li class="hour" data-timestamp="100021">21</li>
                    <li class="hour" data-timestamp="100022">22</li>
                    <li class="hour" data-timestamp="100023">23</li>
                    <li class="hour" data-timestamp="100024">24</li>
                </ul>

            </li>
            <li class="day">
                <ul>
                    <li class="hour" data-timestamp="10001">1</li>
                    <li class="hour" data-timestamp="10002">2</li>
                    <li class="hour" data-timestamp="10003">3</li>
                    <li class="hour" data-timestamp="10004">4</li>
                    <li class="hour" data-timestamp="10005">5</li>
                    <li class="hour" data-timestamp="10006">6</li>
                    <li class="hour" data-timestamp="10007">7</li>
                    <li class="hour" data-timestamp="10008">8</li>
                    <li class="hour" data-timestamp="10009">9</li>
                    <li class="hour" data-timestamp="100010">10</li>
                    <li class="hour" data-timestamp="100011">11</li>
                    <li class="hour" data-timestamp="100012">12</li>
                    <li class="hour" data-timestamp="100013">13</li>
                    <li class="hour" data-timestamp="100014">14</li>
                    <li class="hour" data-timestamp="100015">15</li>
                    <li class="hour" data-timestamp="100016">16</li>
                    <li class="hour" data-timestamp="100017">17</li>
                    <li class="hour" data-timestamp="100018">18</li>
                    <li class="hour" data-timestamp="100019">19</li>
                    <li class="hour" data-timestamp="100020">20</li>
                    <li class="hour" data-timestamp="100021">21</li>
                    <li class="hour" data-timestamp="100022">22</li>
                    <li class="hour" data-timestamp="100023">23</li>
                    <li class="hour" data-timestamp="100024">24</li>
                </ul>

            </li>
            <li class="day">
                <ul>
                    <li class="hour" data-timestamp="10001">1</li>
                    <li class="hour" data-timestamp="10002">2</li>
                    <li class="hour" data-timestamp="10003">3</li>
                    <li class="hour" data-timestamp="10004">4</li>
                    <li class="hour" data-timestamp="10005">5</li>
                    <li class="hour" data-timestamp="10006">6</li>
                    <li class="hour" data-timestamp="10007">7</li>
                    <li class="hour" data-timestamp="10008">8</li>
                    <li class="hour" data-timestamp="10009">9</li>
                    <li class="hour" data-timestamp="100010">10</li>
                    <li class="hour" data-timestamp="100011">11</li>
                    <li class="hour" data-timestamp="100012">12</li>
                    <li class="hour" data-timestamp="100013">13</li>
                    <li class="hour" data-timestamp="100014">14</li>
                    <li class="hour" data-timestamp="100015">15</li>
                    <li class="hour" data-timestamp="100016">16</li>
                    <li class="hour" data-timestamp="100017">17</li>
                    <li class="hour" data-timestamp="100018">18</li>
                    <li class="hour" data-timestamp="100019">19</li>
                    <li class="hour" data-timestamp="100020">20</li>
                    <li class="hour" data-timestamp="100021">21</li>
                    <li class="hour" data-timestamp="100022">22</li>
                    <li class="hour" data-timestamp="100023">23</li>
                    <li class="hour" data-timestamp="100024">24</li>
                </ul>
            </li>
            <li class="day">
                <ul>
                    <li class="hour" data-timestamp="10001">1</li>
                    <li class="hour" data-timestamp="10002">2</li>
                    <li class="hour" data-timestamp="10003">3</li>
                    <li class="hour" data-timestamp="10004">4</li>
                    <li class="hour" data-timestamp="10005">5</li>
                    <li class="hour" data-timestamp="10006">6</li>
                    <li class="hour" data-timestamp="10007">7</li>
                    <li class="hour" data-timestamp="10008">8</li>
                    <li class="hour" data-timestamp="10009">9</li>
                    <li class="hour" data-timestamp="100010">10</li>
                    <li class="hour" data-timestamp="100011">11</li>
                    <li class="hour" data-timestamp="100012">12</li>
                    <li class="hour" data-timestamp="100013">13</li>
                    <li class="hour" data-timestamp="100014">14</li>
                    <li class="hour" data-timestamp="100015">15</li>
                    <li class="hour" data-timestamp="100016">16</li>
                    <li class="hour" data-timestamp="100017">17</li>
                    <li class="hour" data-timestamp="100018">18</li>
                    <li class="hour" data-timestamp="100019">19</li>
                    <li class="hour" data-timestamp="100020">20</li>
                    <li class="hour" data-timestamp="100021">21</li>
                    <li class="hour" data-timestamp="100022">22</li>
                    <li class="hour" data-timestamp="100023">23</li>
                    <li class="hour" data-timestamp="100024">24</li>
                </ul>
            </li>
            <li class="day">
                <ul>
                    <li class="hour" data-timestamp="10001">1</li>
                    <li class="hour" data-timestamp="10002">2</li>
                    <li class="hour" data-timestamp="10003">3</li>
                    <li class="hour" data-timestamp="10004">4</li>
                    <li class="hour" data-timestamp="10005">5</li>
                    <li class="hour" data-timestamp="10006">6</li>
                    <li class="hour" data-timestamp="10007">7</li>
                    <li class="hour" data-timestamp="10008">8</li>
                    <li class="hour" data-timestamp="10009">9</li>
                    <li class="hour" data-timestamp="100010">10</li>
                    <li class="hour" data-timestamp="100011">11</li>
                    <li class="hour" data-timestamp="100012">12</li>
                    <li class="hour" data-timestamp="100013">13</li>
                    <li class="hour" data-timestamp="100014">14</li>
                    <li class="hour" data-timestamp="100015">15</li>
                    <li class="hour" data-timestamp="100016">16</li>
                    <li class="hour" data-timestamp="100017">17</li>
                    <li class="hour" data-timestamp="100018">18</li>
                    <li class="hour" data-timestamp="100019">19</li>
                    <li class="hour" data-timestamp="100020">20</li>
                    <li class="hour" data-timestamp="100021">21</li>
                    <li class="hour" data-timestamp="100022">22</li>
                    <li class="hour" data-timestamp="100023">23</li>
                    <li class="hour" data-timestamp="100024">24</li>
                </ul>
            </li>
            <li class="day">
                <ul>
                    <li class="hour" data-timestamp="10001">1</li>
                    <li class="hour" data-timestamp="10002">2</li>
                    <li class="hour" data-timestamp="10003">3</li>
                    <li class="hour" data-timestamp="10004">4</li>
                    <li class="hour" data-timestamp="10005">5</li>
                    <li class="hour" data-timestamp="10006">6</li>
                    <li class="hour" data-timestamp="10007">7</li>
                    <li class="hour" data-timestamp="10008">8</li>
                    <li class="hour" data-timestamp="10009">9</li>
                    <li class="hour" data-timestamp="100010">10</li>
                    <li class="hour" data-timestamp="100011">11</li>
                    <li class="hour" data-timestamp="100012">12</li>
                    <li class="hour" data-timestamp="100013">13</li>
                    <li class="hour" data-timestamp="100014">14</li>
                    <li class="hour" data-timestamp="100015">15</li>
                    <li class="hour" data-timestamp="100016">16</li>
                    <li class="hour" data-timestamp="100017">17</li>
                    <li class="hour" data-timestamp="100018">18</li>
                    <li class="hour" data-timestamp="100019">19</li>
                    <li class="hour" data-timestamp="100020">20</li>
                    <li class="hour" data-timestamp="100021">21</li>
                    <li class="hour" data-timestamp="100022">22</li>
                    <li class="hour" data-timestamp="100023">23</li>
                    <li class="hour" data-timestamp="100024">24</li>
                </ul>
            </li>
        </ul>
    </section>
</section>
